.settings
.DS_store
build/*
bin/
bin/*
target/*
*/out/*
out/*

HyperIoTDashboard-api/build/

HyperIoTDashboard-features/build/

HyperIoTDashboard-hProject-actions/build/

HyperIoTDashboard-model/build/

HyperIoTDashboard-repository/build/

HyperIoTDashboard-service/build/

HyperIoTDashboard-service-rest/build/

HyperIoTDashboard-actions/build/

HyperIoTDashboard-test/build/

HyperIoTDashboard-test/target/
/build/

HyperIoTDashboard-repository/out/

HyperIoTDashboard-test/out/

HyperIoTDashboard-service/out/

HyperIoTDashboard-service-rest/out/

*.class
