.DS_Store
**/target/
data/activemq/*
!data/activemq/.gitkeep
data/hadoop/datanode1/*
!data/hadoop/datanode1/.gitkeep
data/hadoop/datanode2/*
!data/hadoop/datanode2/.gitkeep
data/hadoop/datanode3/*
!data/hadoop/datanode3/.gitkeep
data/hadoop/historyserver/*
!data/hadoop/historyserver/.gitkeep
data/hadoop/namenode/*
!data/hadoop/namenode/.gitkeep
data/hive/*
!data/hive/.gitkeep
data/kafka/*
!data/kafka/.gitkeep
data/postgres/*
!data/postgres/.gitkeep
data/storm/data
data/storm/log
data/zookeeper/*
!data/zookeeper/.gitkeep




containers-environments/test/ac_software_kube

data/storm/conf/storm.yaml

test-utils/mqtt/edilizia_config.json

test-utils/mqtt/simple_demo.json

test-utils/mqtt/simple_demo_local.json~

test-utils/mqtt/simple_demo_local.json

test-utils/mqtt/musarra_demo_local.json

test-utils/mqtt/musarra_demo.json

hyperiot-storm/storm_extlib/

data/storm/

test-utils/mqtt/simple_remote.json
