.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTAlarm-api/build/

HyperIoTAlarm-features/build/

HyperIoTAlarm-model/build/

HyperIoTAlarm-repository/build/

HyperIoTAlarm-service/build/

HyperIoTAlarm-service-rest/build/
