.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTServices-api/build/

HyperIoTServices-features/build/

HyperIoTServices-model/build/

HyperIoTServices-repository/build/

HyperIoTServices-service/build/

HyperIoTServices-service-rest/build/
