.settings
.DS_store
build/*
build/*
bin/
bin/*
*/target/*
*/build/*
*/out/*
out/*


HyperIoTMqttAuthorization-api/build/

HyperIoTMqttAuthorization-features/build/

HyperIoTMqttAuthorization-model/build/

HyperIoTMqttAuthorization-repository/build/

HyperIoTMqttAuthorization-service/build/

HyperIoTMqttAuthorization-service-rest/build/
