.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
*/out/*
out/*


HyperIoTHProject-api/build/

HyperIoTHProject-features/build/

HyperIoTHProject-model/build/

HyperIoTHProject-repository/build/

HyperIoTHProject-service/build/

HyperIoTHProject-service-rest/build/

HyperIoTHProject-actions/build/

HyperIoTHProject-service-websocket/\.classpath
