.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTAlgorithm-api/build/

HyperIoTAlgorithm-features/build/

HyperIoTAlgorithm-model/build/

HyperIoTAlgorithm-repository/build/

HyperIoTAlgorithm-service/build/

HyperIoTAlgorithm-service-rest/build/
