.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
*/out/*
out/*

HyperIoTMqttClient-api/build/

HyperIoTMqttClient-features/build/

HyperIoTMqttClient-model/build/

HyperIoTMqttClient-repository/build/

HyperIoTMqttClient-service/build/

HyperIoTMqttClient-service-rest/build/
