.settings
.DS_store
build/*
build/*
bin/
bin/*
out
out/
out/*
taget
target/
target/*
coverage
coverage/
coverage/*
*/target/*
*/build/*


HyperIoTStormManager-api/build/

HyperIoTStormManager-actions/build/

HyperIoTStormManager-features/build/

HyperIoTStormManager-model/build/

HyperIoTStormManager-repository/build/

HyperIoTStormManager-service/build/

HyperIoTStormManager-service-rest/build/

\.classpath
/build/
