.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTMqttAuthentication-api/build/

HyperIoTMqttAuthentication-features/build/

HyperIoTMqttAuthentication-model/build/

HyperIoTMqttAuthentication-repository/build/

HyperIoTMqttAuthentication-service/build/

HyperIoTMqttAuthentication-service-rest/build/
