.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTUIBranding-api/build/

HyperIoTUIBranding-features/build/

HyperIoTUIBranding-model/build/

HyperIoTUIBranding-repository/build/

HyperIoTUIBranding-service/build/

HyperIoTUIBranding-service-rest/build/
