.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTWidget-api/build/

HyperIoTWidget-features/build/

HyperIoTWidget-model/build/

HyperIoTWidget-repository/build/

HyperIoTWidget-service/build/

HyperIoTWidget-service-rest/build/
