.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*
**/test-imported/**

HyperIoTServicesTest-api/build/

HyperIoTServicesTest-features/build/

HyperIoTServicesTest-model/build/

HyperIoTServicesTest-repository/build/

HyperIoTServicesTest-service/build/

HyperIoTServicesTest-service-rest/build/
/HyperIoTServices-test/src/test-imported/
