.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTKit-api/build/

HyperIoTKit-features/build/

HyperIoTKit-model/build/

HyperIoTKit-repository/build/

HyperIoTKit-service/build/

HyperIoTKit-service-rest/build/
