.settings
.DS_store
build/*
build/*
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*

HyperIoTMqtt2Kafka-api/build/

HyperIoTMqtt2Kafka-features/build/

HyperIoTMqtt2Kafka-model/build/

HyperIoTMqtt2Kafka-repository/build/

HyperIoTMqtt2Kafka-service/build/

HyperIoTMqtt2Kafka-service-rest/build/
