#============================================================================
# Configure Karaf Scheduler Properties
#============================================================================
org.quartz.scheduler.instanceName=HyperIoTScheduler
org.quartz.scheduler.instanceId=AUTO
#============================================================================
# Configure ThreadPool
#============================================================================
org.quartz.threadPool.class=org.quartz.simpl.SimpleThreadPool
org.quartz.threadPool.threadCount=30
org.quartz.threadPool.threadPriority=5
#============================================================================
# Configure JDBC DataSource
#============================================================================
org.quartz.jobStore.dataSource=hyperiot
org.quartz.dataSource.hyperiot.jndiURL=osgi:service/javax.sql.DataSource/(osgi.jndi.service.name=hyperiot)

#============================================================================
# Configure JDBC JobStore
#============================================================================
org.quartz.jobStore.class=org.quartz.impl.jdbcjobstore.JobStoreCMT
org.quartz.jobStore.nonManagedTXDataSource=hyperiot
org.quartz.jobStore.driverDelegateClass=org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
